.infobox {
  width: 100%;
  max-width: 300px;
  margin: 10px 5px;
  transition: all 0.3s linear;
}
.infobox__title {
}
.infobox__cases {
}
.infobox__total {
}
.infobox:hover {
  border-bottom: 0px !important;
  cursor: pointer;
}

.info-cases .infobox__cases {
  color: #2962ff;
}

.info-recovered .infobox__cases {
  color: #00c853;
}

.info-deaths .infobox__cases {
  color: #d50000;
}
@media (max-width: 990px) {
  .infobox {
    width: 100%;
    max-width: 100%;
  }
}
